<br>
<br>
<br>
<br>

<h3> <%= current_user.first_name %>, this is your Dashboard</h3>

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Your own events</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">The events you applied for</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Favorites</a>
  </li>
</ul>

<div class="created-events">
<% if @owned_events.any? %>
  <% current_user.events.each do |event| %>
    <%= event.title %>
  <% end %>
  <% @event.event_users.each do |application|  %>
  <p>Applicant: <%= application.user.first_name %></p>

        <% if application.status == "applied" %>
           <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pending
             </button>
            <div class="dropdown-menu"  data-controller ="menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Accept", event_users_path(application, query:"accepted"), method: :patch,  class:"dropdown-item", remote: true%>
              <%= link_to "Reject", event_users_path(application, query: "rejected"), method: :patch, class:"dropdown-item", remote: true%>
              <%= link_to "Pending", event_users_path(application, query: "pending"), method: :patch, class:"dropdown-item", remote: true%>

            </div>
          </div>
        <% elsif application.status == "accepted" %>
          <p>Accept</p>
        <% else %>
          <p>Reject</p>
        <% end %>

  <% end %>
<% else %>
   <p>You dont have any created events. Go ahead and create one  <%= link_to "here", new_event_path %></p>
<% end %>
</div>



<div class="applied-events">
<% if @applied_events.any? %>
  <% current_user.applied_events.each do |event| %>
    <%= event.title %>
  <% end %>
<% else %>
   <p>You didnt apply to any events</p>
<% end %>
</div>


<div class="favorites">

</div>








