<% if @user.photo.attached? %>
    <div class="user-banner" style = " background-image: url(<%= cl_image_path @user.photo.key %>)">
      <span class="joined-in">
        Joined in <%= @user.created_at.year %>
      </span>
    </div>
<% else %>
  <div class="user-banner-no-pic-user-show" style="background-color: lightslategrey">
    <%= @user.first_name.first.capitalize + @user.last_name.first.capitalize%>
    <span class="joined-in">
        Joined in <%= @user.created_at.year %>
      </span>
  </div>

<% end %>
<!-- BUTTONS FOR OWNER ONLY -->
<% if @user == current_user %>
  <div class="option-buttons">
    <!-- first button -->
    <div class="option-button">
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-user-cog"></i>
      <p>Settings</p>
      <% end %>
    </div>
    <!-- second button -->
    <div class="option-button">
      <%= link_to event_users_path do %>
        <i class="fas fa-calendar-alt"></i>
      <p>Adventures</p>
      <% end %>
    </div>
    <!-- third button -->
    <div class="option-button">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
      <p>Log Out</p>
      <% end %>
    </div>
  </div>
<% end %>
<div class="description-area">
<div class="name-bio">
  <h4 class="user-name">Hi, I'm <%= @user.first_name.capitalize %></h4>
  <div class="user-bio">
    <i class="fa fa-quote-left" style="color: lightgrey"></i>
    <p><%= " " + @user.biography + " " if @user.biography.present? %></p>
  </div>
</div>
<div class="user-listings">
  <h5><%= @user.first_name.capitalize%>'s listings</h5>
  <% if @user.events.empty? %>
    <%= @user.first_name.capitalize + " hasn't listed an adventure yet" %>
  <% else  %>
    <div class="listed-events">
      <% @user.events.each do |event| %>
        <%= link_to event_path(event), style:"text-decoration: none;" do  %>
          <div class="event-card" style = " background-image: url(<%= cl_image_path event.photo.key %>);">
            <h6><%= event.title.capitalize %></h6>
          </div>
        <% end %>
      <% end %>
      </div>
  <% end %>
</div>
<div class="user-reviews">
  <h5><%= @user.first_name.capitalize %>'s reviews</h5>
  <% if @reviews.any? %>
    <% @user.events.each do |event| %>
      <div class="reviews-box">
        <% event.reviews.each do |review| %>
          <div class="review-card">
              <h5 class="event-title-review"><%= review.event.title.capitalize %></h5>
              <%= content_tag(:i, "", class: "fas fa-star", id: "icon-reviews", style:"color:#F80447") * review.rating%>
              <p><i class="fas fa-calendar-alt"> </i><%= review.created_at.strftime("%B,  %Y")%></p>
            <div class="reviewer-area">
              <%if review.user.photo.attached? %>
                <div class="reviewer-avatar" style = " background-image: url(<%= cl_image_path review.user.photo.key %>)"></div>
              <% else %>
                <div class="reviewer-avatar" id="reviewer-avatar-no-pic" style="background-color: lightslategrey"><%= review.user.first_name.first.capitalize + review.user.last_name.first.capitalize%></div>
              <% end %>
              <%= review.user.first_name.capitalize + " " + review.user.last_name.capitalize %>
            </div>
            <p class= "event-content-review" style="margin-top: 5px;"><%= review.content.capitalize %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= @user.first_name + " has no reviews yet" %>
  <% end %>
</div>
</div>
<br>
<br>

<!-- DO NOT REMOVE THIS EMPTY DIV, USING IT FOR ANCHORS:) -->
<div id="bucket-list-top"></div>
<!-- BEGINNING OF BUCKET LIST -->
<div class="goal-menu">
<h5><%= @user.first_name + "'s Bucket List" %></h5>
  <%= link_to new_user_goal_path(@user) do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>
<!--   WHAT THE OWNER SEES -->
<% if @goals.any? && current_user == @user %>
  <% @goals.each do |goal| %>
    <div class="goal-card">
      <div class="completed-checkbox">
        <%= link_to user_goal_path(@user, goal), method: :patch do  %>
          <% if goal.completed %>
            <i class="fas fa-check-square"></i>
          <% else %>
            <i class="far fa-square"></i>
          <% end %>
        <% end %>
      </div>
      <div class="goal-content">
        <h6><%= goal.name %></h6>
        <p class="goal-date"> Added on <%= goal.created_at.strftime("%d %b %y") %></p>
        <p class="goal-description"> <%= goal.description %></p>
      </div>
    </div>
  <% end %>
<!--   WHAT SOMEONE WHO IS NOT THE OWNER SEES -->
<% elsif @goals.any? %>
   <div class="goal-menu">
      <h5>Bucket List</h5>
  </div>
  <% @goals.each do |goal| %>
    <div class="goal-card">
      <div class="completed-checkbox-visitor">
          <% if goal.completed %>
            <i class="fas fa-check"></i>
          <% end %>
      </div>
      <div class="goal-content">
        <h6><%= goal.name %></h6>
        <p class="goal-date"> Added on <%= goal.created_at.strftime("%d %b %y") %></p>
        <p class="goal-description"> <%= goal.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
<!-- END OF BUCKET LIST LOGIC -->


