
  <div class="header">
    <div class="header-title">
      <h3>Hi, I'm <%= @user.first_name.capitalize %></h3>
      <span class="join-in">Joined in <%= @user.created_at.year %></span>
    </div>
    <%if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, alt: "pic", class: "host-avatar"%>
    <% else %>
    <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", alt: "alttext", class: "host-avatar" %>
    <% end %>
  </div>
  <%= link_to "Edit your profile", edit_user_registration_path, class: "btn-cool-red "  %>
  <div class="description-user-box">
    <h3><%= @user.first_name.capitalize%>'s listings</h3>
    <div class="listed-events">
      <% @user.events.each do |event| %>
        <%= link_to event_path(event), style:"text-decoration: none;" do  %>
          <div class="event-card">
            <h3><%= event.title.capitalize %></h3>
            <%= cl_image_tag event.photo.key, alt: "event_pic", style: "width : 100%" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="reviews-user-box" >
      <h3>Reviews from guests</h3>
        <% @user.events.each do |event| %>
          <div class="reviews-box">
            <% event.reviews.each do |review| %>
              <div class="review-card">
                <div class="creation-rating">
                  <p><%= review.created_at.strftime("%B,  %Y")%></p>
                  <%= content_tag(:i, "", class: "fas fa-star", id: "icon-reviews") * review.rating%>
                    <!--<i class="fas fa-star" style="color:#F80447"></i>-->
                </div>
                <p id="review"><%= review.content.capitalize %></p>
                <div class="reviewer-area">
                  <%if review.user.photo.attached? %>
                    <%= cl_image_tag review.user.photo.key, alt: "pic", class: "host-avatar"%>
                  <% else %>
                    <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", alt: "alttext", class: "reviewer-avatar" %>
                  <% end %>
                  <%= review.user.first_name.capitalize + " " + review.user.last_name.capitalize %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <%= link_to "Log Out", destroy_user_session_path, method: :delete  %>
  </div>
</div>


<%#= link_to "Review " + @user.first_name, new_event_review_path(@user.event)  %>
