<div class="navbar mobile-navbar-top <%= 'fixed' if (controller_name == 'events' && action_name == 'show') %> <%= 'transparent-navbar position-fixed' if (controller_name == 'pages' && action_name == 'home') %>">
  <div class="container" style="padding-bottom: 0px;">
    <%= link_to root_path do %>
      <div class="prettybrand d-flex align-items-center">
          <h4 id="navbar-letter-d"style=";">D</h4>
          <h4 id="navbar-letter-z"style="">Z</h4>
      </div>
    <% end %>
    <!-- DROPDOWN BUTTON -->


    <% unless current_user.present? %>
        <%= link_to "Login", new_user_session_path, class: "nav-link text-blue" %>
    <% else %>
      <div class="dropdown dropleft">
        <i class="fas fa-bars text-blue" style ="font-size:25px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Dashboard", event_users_path, class: "dropdown-item" %>
          <%= link_to "Community", users_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
    <!-- END OF TEST FOR DROPDOWN BUTTON -->
  </div>
</div>
