<!-- Filter buttons - probably won't implement -->

<!-- <div class="buttons">
  <div class="btn btn-success btn-block">Easy-Going</div>
  <div class="btn btn-primary btn-block">Enterntaining</div>
  <div class="btn btn-danger btn-block">Crazy</div>
  <div class="btn btn-secondary btn-block">Sporty</div>
  https://images.unsplash.com/photo-1483444308400-fb9510501d23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2106&q=80
  https://images.unsplash.com/photo-1482398650355-d4c6462afa0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80
</div> -->

<div class="banner-index" style="background-image: url(https://images.unsplash.com/photo-1526723476341-307183286978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">
  <div class="container-shrink">
      <%= form_tag events_path, method: :get do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find an adventure..."
          %>
          <%= submit_tag "Search", class: "btn btn-cool-red" %>
        </div>
      <% end %>
  </div>
</div>


<br>

<% if @events.empty? %>
  <h4>Oops! Looks like no one is organizing such an adventure yet. Why not organizing it yourself?</h4>
  <a class="btn-ghost-square-red" href="/events/new"> List an Adventure </a>
<% end %>
<div class="cards-container">
    <% @events.each do |event| %>
      <div class="event-card">
      <%= link_to event_path(event), class: "entire-card" do  %>
        <% if event.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path event.photo.key %>');">
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?adventure)">
          </div>
        <% end %>
        <div class="cards-description">
          <div class="cards-text">
            <div class="card-headder">
                <h3 class="event-title"> <%= event.title.capitalize %></h3>
                  <% if event.user.photo.attached? %>
                  <div class="avatar-large"  style="background-image: url('<%= cl_image_path event.user.photo.key %>')"></div>
                  <% else %>
                  <div class="avatar-large" id= "no-pic-avatar-index"style="background-color: lightslategrey;"><%= event.user.first_name.first.capitalize + event.user.last_name.first.capitalize%></div>
                  <% end %>
            </div>
            <h4> <i class="fas fa-calendar-alt"> </i>  <%= event.start_time.strftime("%d %b %y") %></h4>
            <h4> <i class="fas fa-location-arrow"> </i>  <%= event.address.capitalize %></h4>
            <h4> <%#= event.user.first_name.capitalize %><i class="fas fa-user-friends"></i>  <strong><%= pluralize event.spots_left, 'spot' %></strong> out of <%= event.capacity %> left</h4>
          </div>
            <%= render "favourites/new", event: event %>
<!--             Add an if statement that if it is already liked, we display this (solid) heart : <i class="fas fa-heart"></i>
 -->          </div>
        </div>
      <% end %>
    <% end %>
  </div>
        <br>
        <br>
        <br>
<div>
<% @users.each do |user| %>
  <%= user.first_name %>
<% end %>
</div>
