
<div class="container-event-box">
    <%= cl_image_tag @event.photo.key, class:"event-banner"%>
  <div class="description-box">
    <% if @event.user.photo.attached? %>
    <!--<div class="avatar-owner" style="background-image: url('<%= cl_image_path @event.user.photo.key %>');"></div>-->
    <%= cl_image_tag @event.user.photo.key , alt: "profilepic" , class: "avatar-owner"  %>
    <% else %>
    <div class="avatar-owner" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png');"></div>
    <% end %>
    <div class="description">
      <h2><%= @event.title %></h2>
      <div class="icons-event-box">
        <table>
          <thead>
            <th>
              <i class="fas fa-map-marker-alt"></i>
            </th>
            <th>
              <i class="far fa-calendar-alt"></i>
            </th>
            <th>
              <i class="fas fa-users"></i>
            </th>
          </thead>
          <tbody>
            <td>
              <%= @event.address %>
            </td>
            <td>
              <%= @event.start_time.strftime("%d %b %y")  %>
            </td>
            <td>
              <%= @event.capacity %>
            </td>
          </tbody>
        </table>

        <!--<i class="fas fa-map-marker-alt">
          <%#= @event.address %>
        </i>
        <i class="far fa-calendar-alt">
          <#%= @event.start_time.strftime("%d %b %y")  %>
        </i>
        <i class="fas fa-users">
          <%#= @event.capacity %>
        </i>-->
      </div>
      <div class="avatars-event-box">
        <!-- THIS WILL NEED TO BE FETCH WITH THE PARTICIPANTS PROFILE PICTURES-->
        <%= image_tag "https://www.biography.com/.image/t_share/MTY2MzU3Nzk2OTM2MjMwNTkx/elon_musk_royal_society.jpg", alt: "alttext", class:"participants-avatar" %>
        <%= image_tag "https://www.biography.com/.image/t_share/MTY2NzA3ODE3OTgwMzcyMjYw/jeff-bezos-andrew-harrer_bloomberg-via-getty-images.jpg", alt: "alttext", class:"participants-avatar" %>
        <%= image_tag "https://vignette.wikia.nocookie.net/simpsons/images/b/bd/Homer_Simpson.png/revision/latest/top-crop/width/360/height/360?cb=20140126234206", alt: "alttext", class:"participants-avatar" %>
    </div>
    <p><%= @event.description %></p>
    <% if current_user != @event.user %>
     <%= render "event_users/new" %>
    <% end %>
      <!--<div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
      </div>-->
  </div>


  <!-- TEST CODE FOR CHATROOM -->
  <h1>#<%= @event.title %> Chatroom</h1>
  <div id="messages" data-chatroom-id="<%= @event.id %>">
    <% @event.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.first_name %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@event, @message] do |f|%>
  <%= f.input :content %>
  <%= f.submit "Send Message", class:"motivation-btn", id: "anchor"%>
  <% end %>
</div>
