
<div class="container-event-box">
    <%= cl_image_tag @event.photo.key, class:"event-banner"%>
  <div class="description-box">
    <%= link_to user_path(@event.user) do  %>
      <% if @event.user.photo.attached? %>
        <div class="avatar-owner" style = " background-image: url(<%= cl_image_path @event.user.photo.key %>)"></div>
        <%#= cl_image_tag @event.user.photo.key , alt: "profilepic" , class: "avatar-owner"  %>
      <% else %>
        <div class="host-avatar-no-picture" id="no-pic-avatar"style="background-color: lightslategrey"><%= @event.user.first_name.first.capitalize + @event.user.last_name.first.capitalize%></div>
      <% end %>
    <% end %>
    <div class="description">
      <div class="headders">
        <h2><%= @event.title.capitalize %></h2>
        <span><%= render "favourites/new", event: @event %></span>
        </div>
      <div class="icons-event-box">
        <table>
          <thead>
            <th>
              <i class="fas fa-map-marker-alt"></i>
            </th>
            <th>
              <i class="far fa-calendar-alt"></i>
            </th>
            <th>
              <i class="fas fa-users"></i>
            </th>
          </thead>
          <tbody>
            <td>
              <%= @event.address.capitalize %>
            </td>
            <td>
              <%= @event.start_time.strftime("%d %b %y")  %>
            </td>
            <td>
              <%= (@event.capacity - @event.spots_left).to_s + "/" + @event.capacity.to_s %>
            </td>
          </tbody>
        </table>
      </div>
      <div class="avatars-event-box">
        <% @event.event_users.each do |participant| %>
          <% if participant.status == "accepted" %>
            <% if @event.user.photo.attached? %>
            <div class="participants-avatar" style = " background-image: url(<%= cl_image_path participant.user.photo.key %>)"></div>
              <!--<div class="partipants-avatar" style = " background-image: url(<%#= cl_image_path participant.user.photo.key %>)"></div>-->
            <% else %>
              <div class="participants-avatar" id ="participant-no-pic"style="background-color: lightslategrey"><%= participant.user.first_name.first.capitalize + participant.user.last_name.first.capitalize%></div>
            <% end %>
          <% else %>
            <p> No participants yet</p>
            <% end %>
          <% end %>
    </div>
    <p><%= @event.description %></p>
    <% unless current_user == @event.user || @event.participant?(current_user) %>
     <%= render "event_users/new" %>
    <% end %>


      <!-- Content if current_user is either the host, or accepted to the event -->
      <% if current_user == @event.user %>
        <h4 style="border-top: 1px solid rgb(225,225,225)">Ready to organize this event?</h4>
        <h4>Why not have a chat with the other participants?</h4>
        <%= link_to "Chat now", event_chat_path(@event), class: "btn btn-cool-red" %>
      <% end %>

      <% if @event.participant?(current_user) %>
        <h4 style="border-top: 1px solid rgb(225,225,225)">Woohoo! <%= @event.user.first_name %> has accepted you for this adventure</h4>
        <h4>Why not have a chat with the other participants?</h4>
        <%= link_to "Chat now", event_chat_path(@event), class: "btn btn-cool-red" %>
      <% end %>
  </div>

  </div>

</div>

<%#= link_to "Log Out", destroy_user_session_path, method: :delete  %>
<%#= link_to "Delete the event", event_path(@event),  method: :delete  %>

  <%# if current_user != @event.user %>
     <%#= render "event_users/new" %>
  <%# end %>
<!--<div id="map"-->
       <!-- style="width: 100%; height: 600px;"-->
       <!-- data-markers="<%#= @markers.to_json %>"-->
       <!-- data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">-->
     <!--</div>-->

