<div class="container">
  <% if current_user == @event.user || @event.participant?(current_user) %>
    <%= link_to event_path(@event) do %>
      <div class="go-back-wrapper">
        <i class="fas fa-caret-left"></i>
        <h1><%= @event.title %></h1>
      </div>
    <% end %>
    <%  if !@event.messages.any? %>
      <h6> There are no messages yet. Be the first one!</h6>
    <% else %>

      <div id="messages" class="messages-container" data-chatroom-id="<%= @event.id %>">
        <% @event.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
        <% end %>
      </div>
    <% end %>
    <%= simple_form_for [@event, @message], remote: true do |f|%>
    <%= f.input :content, label: false, placeholder: "Type your message here..." %>
    <%= f.submit "Send Message", class:"motivation-btn", id: "anchor"%>
    <% end %>
  <% end %>
</div>
